.footer {
  background-color: black;
  color: aliceblue;
  padding-bottom: 30px;
  font-size: 3em;
  text-align: center;
}

span {
  padding: 10px;
}
a {
  color: aliceblue;
}

a:hover {
  color: RGB(229, 9, 20);
}
.spann {
  color: aliceblue;
  font-weight: bold;
  align-items: center;
}

.spann:hover {
  cursor: pointer;
}
