.footer {
  background-color: black;
  color: aliceblue;
  padding-bottom: 30px;
  font-size: 3em;
  text-align: center;
}

span {
  padding: 10px;
}
a {
  color: aliceblue;
}

a:hover {
  color: RGB(229, 9, 20);
}
.spann {
  color: aliceblue;
  font-weight: bold;
  align-items: center;
}

.spann:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .footer {
    background-color: black;
    color: aliceblue;
    padding-bottom: 30px;
    font-size: 1.8em;
    text-align: center;
  }

  .love {
    font-size: 1.8em;
  }
}
