* {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
.size {
  width: 250px;
  text-align: center;
}

.move:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: RGB(229, 9, 20);
  padding: 10px;
}
.heading {
  color: aliceblue;
  font-size: 1.5em;
}

h1 {
  color: aliceblue;
}

a {
  text-decoration: none !important;
}
img {
  padding: 20px;
  width: 265px;
  height: 350px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }
}
